.focusCardContainer {
    border: 1px solid red;
    padding: 10px;
    position: relative;
    width: clamp(750px, 45%, 1000px);
}

.focusBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(500px, 100%, 720px);
}

.pictureFocus {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.__overlay {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 5%;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    display: flex;
    flex-direction: column;
}

.__overlay > * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tagProjectFocusCard {
    margin: 20px 0;
    font-weight: bold;
    font-size: 1em;
}

.descriptionFocusCard {
    margin: 40px 0;
}






