
.columnFocusCardContainer {
    margin: auto 0;
} 

.focusCard {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 6px 11px 3px #00000033;
}

* {
    box-sizing: border-box;
}


.content {
    color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #ffffffb6;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.content .titleProjectFocusCard {
    text-transform: uppercase;
    font-size: clamp(0.9rem, -0.2rem + 1.9556vw, 2rem);
}

.content .tagProjectFocusCard {
    margin: 10px 0;
    font-size: clamp(0.5rem, -0.3rem + 1.4222vw, 1.3rem);
    font-weight: 200;
    font-style: italic;
}

.content .descriptionFocusCard {
    font-size: clamp(0.5rem, 0rem + 0.8889vw, 1rem);
    margin-bottom: 10px;
}

.content .techUsingFocusCard {
    font-size: clamp(0.5rem, 0rem + 0.8889vw, 1rem);
    font-weight: 600;
    margin-bottom: 10px;
}

.content .logoTech {
    display: flex;
    gap: 20px;
}

.content .logoTech svg {
    width: clamp(1.5625rem, 0rem + 2.7778vw, 3.125rem);
}

.btnFocusCardDiscover {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -45%);
    padding: 30px 50px;
    font-size: clamp(0.5rem, 0rem + 0.8889vw, 1rem);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #3CD6CE;
    cursor: pointer;
}

.btnFocusCardDiscover:hover {
    transition: 200ms;
    background-color: #33b8b2;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    color: #fff;
}

@media (max-width: 1270px) {
    .btnFocusCardDiscover {
        padding: 20px 30px;
    }
    .content {
        padding: 20px;
    }
}



.pictureFocusCard {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



